.first-border{
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
 }
 
 .last-border{
   border-top-right-radius: 4px !important;
   border-bottom-right-radius: 4px !important;
 }
 
 .button_tab{
   background-color: #fbb814!important;
   border: none;
   border-radius: 2px;
   min-height: 26px;
   margin-right: 10px;
   min-width: 60px;
   font-weight: 600;
   float: right;
   margin-top: 8px !important;
 }
 