<div class="container-fluid fluid-padding" *ngIf="istabshow">
  <div class="h-[36px] grid grid-cols-12">
    <div class="col-span-7">
      <div class="d-flex flex-row mt-2 justify-end" style="overflow-x: auto;margin-top: 0px !important;">
        <ng-container *ngFor="let tab of tablist; let i = index">
          <div (click)="switchTabs(tab.name)"
            [ngClass]="selectedtabindex == i? 'p-1 pt-1.5 pr-3 pb-0 pl-3 bg-black text-white  cursor-pointer  border-solid border-[0.5px] border-stone-400  h-[35px]' :
            'cursor-pointer p-1 pt-1.5 pr-3 pb-0 pl-3 border-solid border-[0.5px] border-stone-400  h-[35px]'"
            >
            <div class="col-span-12 mx-2 my-1 text-xs">
              <p style="white-space:nowrap">{{tab.name}}</p>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="col-span-5">
      <button mat-button (click)="onTabChange('next')"  *ngIf="selectedtabindex !=2"  class="button_tab">Next</button>
      <button mat-button  (click)="onTabChange('prev')"  class="button_tab">Prev</button>
      <button mat-button (click)="getDrfating('true')"  *ngIf="selectedtabindex ==2"  class="button_tab">Submit</button>
      <button mat-button  (click)="getDrfating()" *ngIf="selectedtabindex ==2" class="button_tab">Preview</button>
    </div>
  </div>
</div>
<app-roofmapping *ngIf="issiteplan" (mapInstance) = "fetchCurrentMap($event);" (showHomeBtn)="showHome($event);" (istabshow)="manageTab($event)" [tabclicksecondTime]="tabclicksecondTime"></app-roofmapping>
<app-roofplan *ngIf="isroofplan" (mapInstance) = "fetchCurrentMap($event);" ></app-roofplan>
<app-stringlayout #stringlayout *ngIf="isstringlayout" (mapInstance) = "fetchCurrentMap($event);" (StringLayoutAccordian)="accordianStatus($event)"></app-stringlayout>
<div *ngIf="showHomeBtn" class="home-icon" [ngClass]="{'accordian_opened' : isstringlayout && stringLayoutAccordian , accordian_closed : isstringlayout && !stringLayoutAccordian}">
  <img style="width:28px;" src="../../../../../assets/Icon/home.png" (click)="setMapCenter();">
</div>